*{
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 18px !important;
    font-weight: 300 !important

}

a{
    text-decoration: none;
    color: black;
    font-weight: 200;
}

li{
    list-style: none;
    display: inline;
    margin: 10px 15px;
}
main{
    padding: 0;
    overflow: hidden;
}
header{
    width: 1140;
    margin: 0 auto;
    padding: 10px;
    background-color:rgb(15, 123, 172);
    margin: 10px 20px;
    overflow: hidden;
}
header #menu{
    float: left;
}
header #ingreso{
    float: right;
}


section{
    width: 1000;
    margin: 0 auto;
    padding: 10px;
    background-color: skyblue;
    margin: 10px 20px;
    overflow: hidden;
    
}

section img{
    width: 25%;
    margin: 10px;
    float: right;
    display: inline-block;
}
.conteiner{
    display: flex;
}

.conteiner h1{
        font: 40px Ubuntu,sans-serif;
        color: #fff !important;
        margin: 10px;
        text-align: left;
}

.parrafo p{
    font: 16px Ubuntu,sans-serif;
    color: #fff;
    float: left;
    text-align: center;
    margin: 10px 20px;  
}
.tituloPlanes h1{
    font: 40px Ubuntu,sans-serif;
        color: black !important;
        margin: 10px 20px;
        text-align: center;
}

.planes{
    display: flex;
    align-content: center;
    justify-content: center;
}
.standar{
    width: 300px;
    height: 300px;
    margin: 10px 10px 20px 10px;
    float: left;
    border: 2px solid black;
}
.platinum{
    width: 300px;
    height: 300px;
    margin: 10px 10px 20px 10px;
    float: left;
    border: 2px solid black;
}
.dorado{
    width: 300px;
    height: 300px;
    margin: 10px 10px 20px 10px;
    float: left;
    border: 2px solid black;
}

h2{
    font: 16px ubuntu,sans-serif;
    text-align: center;
    margin: 20px;
}
.planes p{
    font: 14px ubuntu,sans-serif;
    text-align: center;
    margin: 10px;
}
.planes button {
    border: none;
    border-radius: 8px;
    background-color: cadetblue;
    color: white;
    font-weight: 600;
    padding: 14px 20px;
    width: 120px;
    margin-bottom: 0;
    display: flex;
    vertical-align: middle;
    box-sizing: border-box;
    word-wrap: break-word;
    position: relative;
    
}